<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService2" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <!--<endpoint address="net.tcp://c92d3f0486f4/Service1.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReference1.IService1"
                name="NetTcpBinding_IService1">
                <identity>
                    <servicePrincipalName value="host/c92d3f0486f4" />
                </identity>
            </endpoint>-->
            <endpoint address="http://localhost:8081/Service2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="ServiceReference2.IService2"
                name="BasicHttpBinding_IService2" />
            <!--<endpoint address="net.tcp://676df0debd5b/Service2.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService2" contract="ServiceReference2.IService2"
                name="NetTcpBinding_IService2">
                <identity>
                    <servicePrincipalName value="host/676df0debd5b" />
                </identity>
            </endpoint>-->
        </client>
    </system.serviceModel>
</configuration>